/**Global Styles */
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 0.3;
    color: #333;

}

.general{
    width:90%;
    margin: auto;
    overflow: hidden;
}

.contactme{
    width:90%;
    margin: auto;
    overflow: hidden;
    height: 100vh;
}

h1{
    margin:20px 20px 20px 20px;
    line-height: 20px;
    text-align: center;
    font-size: 25px;
}

h2{
    text-align: center;
    padding: 30px;
    padding-bottom: 0;
    font-size: 30px;
    color: black;
}

h3{
    margin:20px 20px 10px 20px;
    line-height: 20px;
    text-align: center;

}

h4{
    line-height: 10px;
    margin: 10px 20px 0 20px;
}

h5{
    line-height: 15px;
    font-size: 15px;
    margin:5px 20px;
}

p{
    line-height: 20px;
    margin: 0 20px 10px;
}

a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}


.background{
    padding: 15px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;

}

.bluebackground{
    padding: 5px;
    /*background-color: #79C4DC;*/
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}


.contactbackground{
    padding: 5px;
    background-color: #a679dc;
    margin: 30px;
    border-radius: 5px;
    max-width: 320px;
    width:auto;
    height: auto;
    /*background: white;*/
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-grow: 1;
    text-align: center;
}

img{
    border-radius: 5px;
}

/**Flex Boxes Used to Shows the Services at Home and The Women in STEM Hall of Famee Inductees */
.containerboxes{
    display: flex;
    align-items: center;
    margin: 0;
    background: lightgrey;
    justify-content: center;
}

.box{
    max-width: 320px;
    width:auto;
    height: auto;
    background: white;
    color: black;
    margin: 20px 10px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-grow: 1;
    text-align: center;
}

.box h3{
    margin: 20px 0 15px 0;
}

.box p{
    line-height: 20px;
}

.box img{
    max-width: 320px;
    width: 100%;
    padding: 0px 0px;
}

/**CIv Bridge*/
.mat{
    justify-content: center;
    align-items: center;
}

.photociv img{
    max-width:600px;
    width: 100%;
    padding:20px;
}

#horizontal{
    transform: rotate(90deg);
    /* max-width: 600px; */
    width: 100%;
    max-height: 800px;
}

.photogalleryciv{
    max-width: auto;
    max-height: auto;
    margin: 0 auto;
    /* padding-top: 20px; */
    display: grid;

    background-color: #ffffff;
    grid-template-columns: 0.6fr auto 0.05fr auto 0.6fr; 
    /* grid-template-rows: auto 20px auto 30px; */
}

.photogalleryciv img{
    /* max-width:400px; */
    width: 100%;
    padding:10px;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-top: 10px; 
    
}

.photociv:nth-of-type(1){ 
    grid-column: 2/3;
    max-width:650px;
}

.photociv:nth-of-type(2){ 
    grid-column: 4/5;
    max-width:325px;
}

.photogalleryciv2{
    max-width: auto;
    max-height: auto;
    margin: 0 auto;
    /* padding-top: 20px; */
    display: grid;
    place-items: center;

    background-color: #ffffff;
    grid-template-columns: 0.6fr auto 0.05fr auto 0.6fr; 
    /* grid-template-rows: auto 20px auto 30px; */
}

.photogalleryciv2 img{
    /* max-width:400px; */
    width: 100%;
    padding:10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    
}

.photociv2:nth-of-type(1){ 
    grid-column: 2/3;
    max-width:650px;
}

.photociv2:nth-of-type(2){ 
    grid-column: 4/5;
    max-width:325px;
}



/**Main */
.main{
  
    background-color: #f4f4f4;
}

.projects{
    width: 85%;
    margin: 0 auto;
    background-color: #ffffff;
}

.reg_para{
    margin: 0 auto;
    width: 80%;
    /* margin-bottom: 20px; */
    font-size: 17px; 
    line-height: 1.5;

    
}

article.main-column{
    float:left;
    width: 60%;
    margin:auto;


}

article.main-column2{

    

    width: 60%;
    margin:auto;
    margin-bottom: 50px;
    margin-top: 30px;
    border: 5px solid #485FC7; 
    background-color: #ffffff; /* Light gray background */
    color: black; /* Black text */
    padding: 20px; /* Spacing inside the container */
    border-radius: 15px; /* Rounded corners */
    width: 500px; /* Set width of the container */
    text-align: center; /* Center align text */
    border: 5px solid #485FC7; /* Optional border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */


}

/**Header */

.container{
    max-width: auto;
    max-height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(4, 40px);
}

.item{
    background-color: white;
    color: black;
    font-size: 17px;
    padding: 20px;
    text-align: center;
    display: inline;
    float: left;
}

.gcc{
    max-height: 152px;
    max-width: 152px;
}


/**Nav Bar */

.item:nth-of-type(1){ 
    grid-column: 1/4;
    grid-row: 1/4;
}

.item:nth-of-type(2){ 
    grid-column: 1/4;
    max-height: 300px;
}

.navbar a{
    font-size: 17;
    line-height: 15px;
}

.nav{
    display: flex;
}

nav .current a{
    color: grey;
    font-weight: bold;
}

nav a:hover{
    color: #79C4DC;
}

.listitem{
    flex: 1; 
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
}

/**Home */
/*Showcase */
#showcase{
    min-height: 700px;
    color:#fff;
    text-align: center; 
}

#showcase img{
    max-height:300px;
    max-width: 800px;
    width:85%;
    margin:300px 0;
    
}


#showcase .bg-image{
    position: absolute;
    background:url('images/title.jpg') no-repeat center;
    background-size:cover;
    width:100%;
    height: 700px;;
    opacity: 0.4;
    z-index: -1;
}


#showcase p{
    font-size: 20px;
}


/**Summary in Home*/

#summary{
    height:auto;
    text-align: center;
    margin: 30px 0;
}


#summary p{
    text-align: center;
    line-height: 25px;
    margin:20px 60px;
}


/**What We Do */
/*Main*/
.square-image {
    width: 200px; /* Set the square size */
    height: 200px; /* Set the square size */
    object-fit: cover; /* Crops the image while maintaining aspect ratio */
    display: block; /* Optional: Removes inline gap if needed */
  }

  
  

aside#sidebar{
    float:right;
    width:35%;
    margin: auto;
    text-align: center;
}



/**Women in STEM Website */
#website{
    padding: 10px;
    color: white;
    background: #79C4DC;
}



/**Captain Weaver */

.photoweav img{
    max-width:800px;
    width: 100%;
    padding:10px;
}

.photogalleryw{
    max-width: auto;
    max-height: auto;
    margin: 0 auto;
    /* padding-top: 20px; */
    display: grid;
    place-items: center;

    background-color: #ffffff;
    grid-template-columns: 0.6fr auto 0.05fr auto 0.6fr; 
    /* grid-template-rows: auto 20px auto 30px; */
}

.photogalleryw img{
    /* max-width:400px; */
    width: 100%;
    padding:10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    
}

.photow:nth-of-type(1){ 
    grid-column: 2/3;
    max-width:350px;
}

.photow:nth-of-type(2){ 
    grid-column: 4/5;
    max-width:435px;
}

.photogallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.photo {
    width: 350px; /* Set uniform width for all cards */
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;

}


.image-container {
    width: 100%;
    height: 350px; /* Square size */
    overflow: hidden;
    position: relative;
    line-height: 1.5;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image is cropped to fill the square */
}

.has-text-centered {
    margin-top: 10px;
    font-size: 1.2em;
    line-height: 1.2;
    /* font-weight: bold; */
}

.m-2 {
    margin: 10px 0;
}



/* .photogallery{
    max-width: auto;
    max-height: auto;
    margin: auto;
    padding: 20px;
    display: grid;
    background-color: #ffffff;
    background-size: cover;
    
    grid-template-columns: 0.6fr auto 0.1fr auto 0.1fr auto 0.6fr; 
    grid-template-rows: auto 20px auto 30px;
}

.photogallery img{
    max-width:400px;
    width: 100%;
    padding:10px;
    border-radius: 15px;
}

.photo:nth-of-type(1){ 
    grid-column: 2/3;
    border-radius: 15px;
}

.photo:nth-of-type(2){ 
    grid-column: 4/5;
    border-radius: 15px;
}

.photo:nth-of-type(3){ 
    grid-column: 6/7;
    border-radius: 15px;
}

.photo:nth-of-type(4){ 
    grid-column: 2/3;
    grid-row: 3/4;
    border-radius: 15px;
}

.photo:nth-of-type(5){ 
    grid-column: 4/5;
    grid-row: 3/4;
    border-radius: 15px;
}

.photo:nth-of-type(6){ 
    grid-column: 6/7;
    grid-row: 3/4;
    border-radius: 15px;
}
 */

/** Updraft*/

/* .photoup{
    max-width: auto;
    max-height: auto;
    margin: auto;
    padding-top: 20px;
    display: grid;
    background-color: #f4f4f4;
    grid-template-columns: 0.6fr auto 0.1fr auto 0.1fr auto 0.6fr; 
    grid-template-rows: auto 20px auto 30px;
} */

.photoup img{
    max-width:400px;
    width: 100%;
    padding:10px;
}

.reg_paraup{
    margin: 0 auto;
    padding-bottom: 20px;
    width: 80%;
    /* margin-bottom: 20px; */
    font-size: 17px; 
    line-height: 1.5;

    
}

.photogalleryup{
    max-width: auto;
    max-height: auto;
    margin: 0 auto;
    /* padding-top: 20px; */
    display: grid;
    place-items: center;

    background-color: #ffffff;
    grid-template-columns: 0.6fr auto 0.05fr auto 0.6fr; 
    /* grid-template-rows: auto 20px auto 30px; */
}

.photogalleryup img{
    /* max-width:400px; */
    width: 100%;
    padding:10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    
}

.photoup2:nth-of-type(1){ 
    grid-column: 2/3;
    max-width:400px;
}

.photoup2:nth-of-type(2){ 
    grid-column: 4/5;
    max-width:435px;
}



/* .photoup:nth-of-type(1){ 
    grid-column: 2/3;
    max-width:300px;
}

.photoup:nth-of-type(2){ 
    grid-column: 4/5;
    max-width:700px;
}

.photoup:nth-of-type(3){ 
    grid-column: 6/7;
    max-width:400px;
}
 */

/**Form */
.button{
    height:38px;
    background:white;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:#333;
    margin: 7px 5px 10px 5px; 

}

.button:hover{
    background-color: lightgray;
}

#buttoncenter{
    text-align: center;
}

.bluebackground p{
    text-align: center;
}

input{
    margin: 5px 20px;
    height: 25px;
    width: 80%;
}

textarea{
    margin: 5px 20px;
    width: 80%;
}

/** Contact Me*/
.rounded-container {
    background-color: #ffffff; /* Light gray background */
    color: black; /* Black text */
    padding: 20px; /* Spacing inside the container */
    border-radius: 15px; /* Rounded corners */
    width: 500px; /* Set width of the container */
    text-align: center; /* Center align text */
    border: 5px solid #485FC7; /* Optional border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */
    margin: 30px auto;
  }

/**Contact Us */
.main-column a{
    margin: 20px;
}

.main-column .background{
    padding-bottom: 25px;
}

.contactus p{
    padding-bottom: 10px;
}

.socials{
    text-align: center;
}

.socials img{
    margin-top: 5px;
    max-height: 20px;
    padding-top: 5px;
}

/*EDIT COLOUR*//**Footer */
footer{
    padding: 20px;
    margin: 0;
    color:#ffffff;
    background-color:hwb(195 21% 39%);
    text-align: center;
    font-weight: bold;

}


/**Media Queries */
@media(max-width:500px){
    .photogallery{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }

    .photo{
        padding: 10px;
    }
}

@media(max-width:700px){
    .boxes .containerboxes{
        padding-top: 10px;
        padding-bottom: 10px;
        flex-direction: column;
        text-align: center;
    }

    .nav{
        flex-direction: column;
    }
    
    .nav li{
        padding: 10px;
    }

    .container{
        height: 330px;
    }

    

    #summary p{
        margin:20px 20px;
    }


}

@media(max-width:800px){
    article.main-column, aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
}

@media(max-width:910px){
    .photogallery{
        grid-template-columns: 0.6fr auto 0.1fr auto 0.6fr; 
        grid-template-rows: auto 20px auto 20px auto 30px;
    }
    
    .photogallery img{
        max-width:300px;
    }
    
    .photo:nth-of-type(1){ 
        grid-column: 2/3;
    }
    
    .photo:nth-of-type(2){ 
        grid-column: 4/5;
    }
    
    .photo:nth-of-type(3){ 
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    .photo:nth-of-type(4){ 
        grid-column: 4/5;
        grid-row: 3/4;
    }
    
    .photo:nth-of-type(5){ 
        grid-column: 2/3;
        grid-row: 5/6;
    }
    
    .photo:nth-of-type(6){ 
        grid-column: 4/5;
        grid-row: 5/6;
    }
}

@media(max-width:1250px){
    .container{
        grid-template-rows: repeat(6, 30px);
    }

    .item:nth-of-type(1){ 
        grid-row: 1/5;
    }

    .item:nth-of-type(2){ 
        grid-row: 5/6
    }
}


