/**Global Styles */
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 0.3;
    color: #333;

}

.general{
    width:90%;
    margin: auto;
    overflow: hidden;
}

h1{
    margin:20px 20px 20px 20px;
    line-height: 20px;
    text-align: center;
    font-size: 25px;
}

h2{
    text-align: center;
    padding: 30px;
    padding-bottom: 0;
    font-size: 30px;
    color: black;
}

h3{
    margin:20px 20px 10px 20px;
    line-height: 20px;
    text-align: center;

}

h4{
    line-height: 10px;
    margin: 10px 20px 0 20px;
}

h5{
    line-height: 15px;
    font-size: 15px;
    margin:5px 20px;
}

p{
    line-height: 20px;
    margin: 0 20px 10px;
}

a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}


.background{
    padding: 15px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;

}

.bluebackground{
    padding: 5px;
    background-color: #79C4DC;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

img{
    border-radius: 5px;
}

/**Flex Boxes Used to Shows the Services at Home and The Women in STEM Hall of Famee Inductees */
.containerboxes{
    display: flex;
    align-items: center;
    margin: 0;
    background: lightgrey;
    justify-content: center;
}

.box{
    max-width: 320px;
    width:auto;
    height: auto;
    background: white;
    color: black;
    margin: 20px 10px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-grow: 1;
    text-align: center;
}

.box h3{
    margin: 20px 0 15px 0;
}

.box p{
    line-height: 20px;
}

.box img{
    max-width: 320px;
    width: 100%;
    padding: 0px 0px;
}

/**Main */
.main{
    background-color: #f4f4f4;
}

article.main-column{
    float:left;
    width: 60%;
    margin:auto;

}

/**Header */

.container{
    max-width: auto;
    max-height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(4, 40px);
}

.item{
    background-color: white;
    color: black;
    font-size: 17px;
    padding: 20px;
    text-align: center;
    display: inline;
    float: left;
}

.gcc{
    max-height: 152px;
    max-width: 152px;
}


/**Nav Bar */

.item:nth-of-type(1){ 
    grid-column: 1/4;
    grid-row: 1/4;
}

.item:nth-of-type(2){ 
    grid-column: 1/4;
    max-height: 300px;
}

.navbar a{
    font-size: 17;
    line-height: 15px;
}

.nav{
    display: flex;
}

nav .current a{
    color: grey;
    font-weight: bold;
}

nav a:hover{
    color: #79C4DC;
}

.listitem{
    flex: 1; 
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
}

/**Home */
/*Showcase */
#showcase{
    min-height: 700px;
    color:#fff;
    text-align: center; 
}

#showcase img{
    max-height:300px;
    max-width: 800px;
    width:85%;
    margin:300px 0;
    
}

#showcase .bg-image{
    position: absolute;
    background:url('images/title.jpg') no-repeat center;
    background-size:cover;
    width:100%;
    height: 700px;;
    opacity: 0.4;
    z-index: -1;
}


#showcase p{
    font-size: 20px;
}


/**Summary in Home*/

#summary{
    height:auto;
    text-align: center;
    margin: 30px 0;
}


#summary p{
    text-align: center;
    line-height: 25px;
    margin:20px 60px;
}


/**What We Do */
/*Main*/

aside#sidebar{
    float:right;
    width:35%;
    margin: auto;
    text-align: center;
}



/**Women in STEM Website */
#website{
    padding: 10px;
    color: white;
    background: #79C4DC;
}

/**Photo Gallery */
.photogallery{
    max-width: auto;
    max-height: auto;
    margin: auto;
    padding-top: 20px;
    display: grid;
    background-color: #f4f4f4;
    grid-template-columns: 0.6fr auto 0.1fr auto 0.1fr auto 0.6fr; 
    grid-template-rows: auto 20px auto 30px;
}

.photogallery img{
    max-width:400px;
    width: 100%;
    padding:10px;
}

.photo:nth-of-type(1){ 
    grid-column: 2/3;
}

.photo:nth-of-type(2){ 
    grid-column: 4/5;
}

.photo:nth-of-type(3){ 
    grid-column: 6/7;
}

.photo:nth-of-type(4){ 
    grid-column: 2/3;
    grid-row: 3/4;
}

.photo:nth-of-type(5){ 
    grid-column: 4/5;
    grid-row: 3/4;
}

.photo:nth-of-type(6){ 
    grid-column: 6/7;
    grid-row: 3/4;
}

/**Form */
.button{
    height:38px;
    background:white;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:#333;
    margin: 7px 5px 10px 5px; 

}

.button:hover{
    background-color: lightgray;
}

#buttoncenter{
    text-align: center;
}

.bluebackground p{
    margin-bottom: 30px;
    text-align: center;
}

input{
    margin: 5px 20px;
    height: 25px;
    width: 80%;
}

textarea{
    margin: 5px 20px;
    width: 80%;
}



/**Contact Us */
.main-column a{
    margin: 20px;
}

.main-column .background{
    padding-bottom: 25px;
}

.contactus p{
    padding-bottom: 10px;
}

.socials{
    text-align: center;
}

.socials img{
    margin-top: 5px;
    max-height: 20px;
    padding-top: 5px;
}

/**Footer */
footer{
    padding: 20px;
    margin: 0;
    color:#ffffff;
    background-color:#79C4DC;
    text-align: center;
    font-weight: bold;

}


/**Media Queries */
@media(max-width:500px){
    .photogallery{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 0;
    }

    .photo{
        padding: 10px;
    }
}

@media(max-width:700px){
    .boxes .containerboxes{
        padding-top: 10px;
        padding-bottom: 10px;
        flex-direction: column;
        text-align: center;
    }

    .nav{
        flex-direction: column;
    }
    
    .nav li{
        padding: 10px;
    }

    .container{
        height: 330px;
    }

    

    #summary p{
        margin:20px 20px;
    }


}

@media(max-width:800px){
    article.main-column, aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
}

@media(max-width:910px){
    .photogallery{
        grid-template-columns: 0.6fr auto 0.1fr auto 0.6fr; 
        grid-template-rows: auto 20px auto 20px auto 30px;
    }
    
    .photogallery img{
        max-width:300px;
    }
    
    .photo:nth-of-type(1){ 
        grid-column: 2/3;
    }
    
    .photo:nth-of-type(2){ 
        grid-column: 4/5;
    }
    
    .photo:nth-of-type(3){ 
        grid-column: 2/3;
        grid-row: 3/4;
    }
    
    .photo:nth-of-type(4){ 
        grid-column: 4/5;
        grid-row: 3/4;
    }
    
    .photo:nth-of-type(5){ 
        grid-column: 2/3;
        grid-row: 5/6;
    }
    
    .photo:nth-of-type(6){ 
        grid-column: 4/5;
        grid-row: 5/6;
    }
}

@media(max-width:1250px){
    .container{
        grid-template-rows: repeat(6, 30px);
    }

    .item:nth-of-type(1){ 
        grid-row: 1/5;
    }

    .item:nth-of-type(2){ 
        grid-row: 5/6
    }
}


